 .title{
 	margin-left: 3.8rem;
 }
 .line{
	text-decoration: line-through;
}
.wrapper{
	display: flex;
	flex-direction: row;
	min-height: 100%;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 15px;
	display: inline-block;
}
.body{
    background: url(../img/background.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #ffff;
    font-family: Helvetica, Arial, sans-serif;
}
.click{
	margin: 1.2rem;
	background: rgba(0,0,0,0);
    border-radius: 3rem;
    position: relative;
    top: 10px;

}
.clear{
	margin-left: 2.5rem;
	border-radius: 3rem;
	background: rgba(0,0,0,0);
	position: relative;
    top: 10px;
}
.delete{
	border-radius: 3rem;
	margin-left: 1.5rem ;
    background: rgba(0,0,0,0);
    position: relative;
    top: 10px;

}
.note{
	font-size: 20px;
	margin-bottom: 20px;
	border-radius: 2em;
	height: 30px;
	position: absolute;
	top: 70px;
	margin-left: 0.8em;
}
.block{
	  margin: 0 auto;
	  background: rgba(0,0,0,0.5);
	  display: inline-block;
	  position: relative;
	  left: 560px;
}
span{
	  font-size: 1.2rem;

}
@media (max-width: 1200px){
	.block{
		 position: relative;
	     left: 480px;
	}
}
@media (max-width: 992px){
	.block{
		 position: absolute;
	     left: 360px;
	}
}
@media (max-width: 767px){
	.block{
	  position: absolute;
	  left: 260px;
	}
	.note{
          margin-left: 0.7em;
	}
}
@media (max-width: 600px){
	.block{
	position: absolute;
	left: 20px;
	}
}
@media (max-width: 500px){
	.block{
	position: absolute;
	left: 20px;
	}
}
@media (max-width: 400px){
	.block{
	  position: absolute;
	  left: 20px;
	}
	span{
	 font-size: 1rem;
	}
	 .title{
 	margin-left: 4.2rem;
 }
	.note{
	 margin-left: 0.3em;
}
}
